installer/build
installer/build-nuitka
/build
/dist
*.spec
*.gitignore
*.txt
*.log
config.json
*.back
# up.md
test.*
*.o
/__pycache__
.gitignore
RC-main.exe
RC-GUI.exe
RC-tray.exe
*.pyc
res/top.png
# installer
version_info.py
installer/EXE
# 临时版本文件
installer/version.tmp
installer/Remote-Controls-temp.iss
installer/test_dynamic_version.ps1
installer/RC-GUI.spec
installer/RC-Status.spec
installer/RC-main.spec
installer/RC-tray.spec
installer/EXE/close_RC.bat
installer/EXE/close_RC_tray.bat
logs/admin_status.txt
test.py
logs/Remote Controls Tray.xml
installer/dist
logs