# Virtual environments
.venv/

# VSCode
.vscode/

# Build artifacts
build/
dist/
installer/build/
installer/dist/
installer/dist-nuitka/
installer/build-nuitka/

# Python cache
__pycache__/
*.pyc

# Executables
*.exe

# Logs and temporary files
*.log
*.tmp
*.bak

# Project-specific temporary files
installer/version.tmp
installer/Remote-Controls-temp.iss

# Ignore local config (do NOT commit secrets)
config.json
passwords.txt

# Generated version (kept out of VCS)
version_info.py
installer/RC-GUI.spec
installer/RC-Status.spec
installer/RC-main.spec
installer/RC-tray.spec
installer/EXE/close_RC.bat
installer/EXE/close_RC_tray.bat
logs/admin_status.txt
test.py
