/build
/.vscode
/dist
/build
/.vscode
/dist
*.spec
*.gitignore
*.txt
*.gitignore
*.txt
*.log
config.json
*.back
up.md
test.*
/__pycache__
.gitignore
RC-main.exe
RC-GUI.exe
RC-tray.exe
*.pyc
res/top.png
